<div class="bg-white py-24 sm:py-32 border">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl">Ajustes</h2>
      <p class="mt-2 text-lg/8 text-gray-600">Aquí puedes gestionar tus ajustes.</p>
    </div>
    <div class="mt-12 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-12 border-t border-gray-300 pt-12 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      
      <div class="bg-white p-6 shadow-lg rounded-lg">
        <h3 class="text-xl font-semibold text-gray-900">Dirección servicio web entre marketplace i auroral.</h3>
        <p class="mt-2 text-gray-600">https://localhost:7202</p>
      </div>

      <div class="bg-white p-6 shadow-lg rounded-lg">
        <h3 class="text-xl font-semibold text-gray-900">Notificaciones</h3>
        <p class="mt-2 text-gray-600">Configura cómo y cuándo deseas recibir notificaciones importantes.</p>
      </div>

      <div class="bg-white p-6 shadow-lg rounded-lg">
        <h3 class="text-xl font-semibold text-gray-900">Privacidad</h3>
        <p class="mt-2 text-gray-600">Gestiona la configuración de privacidad y controla tu información.</p>
      </div>
    </div>
</div>
</div>
