<div class="bg-white py-24 sm:py-32 border">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl">Ajustes</h2>
      <p class="mt-2 text-lg/8 text-gray-600">Aquí puedes gestionar tus ajustes.</p>
    </div>
    <div class="mt-12 grid grid-cols-1 gap-x-8 gap-y-12 border-t border-gray-300 pt-12 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      
      <div class="bg-white p-8 shadow-xl rounded-2xl transform transition-transform hover:scale-105 hover:shadow-2xl">
        <h3 class="text-xl font-semibold text-gray-900 hover:text-pretty transition duration-300">Dirección servicio web entre marketplace i auroral.</h3>
        <p class="mt-2 text-gray-600 text-sm sm:text-base">https://localhost:7202</p>
      </div>

      <div class="bg-white p-8 shadow-xl rounded-2xl transform transition-transform hover:scale-105 hover:shadow-2xl">
        <h3 class="text-xl font-semibold text-gray-900 hover:text-pretty transition duration-300">Object Id - OID (Defecto)</h3>
        <p class="mt-2 text-gray-600 text-sm sm:text-base">cb3bb356-507b-4cdc-8865-e2a8c632d3d4</p>
      </div>

      <div class="bg-white p-8 shadow-xl rounded-2xl transform transition-transform hover:scale-105 hover:shadow-2xl">
        <h3 class="text-xl font-semibold text-gray-900 hover:text-pretty transition duration-300">Remote Object id - OID (Defecto)</h3>
        <p class="mt-2 text-gray-600 text-sm sm:text-base">e17b2459-5e3c-456b-aaaa-d5f47d9817e7</p>
      </div>
      
      <div class="bg-white p-8 shadow-xl rounded-2xl transform transition-transform hover:scale-105 hover:shadow-2xl">
        <h3 class="text-xl font-semibold text-gray-900 hover:text-pretty transition duration-300">Property of the remote object - PID (Defecto)</h3>
        <p class="mt-2 text-gray-600 text-sm sm:text-base">Shipments</p>
      </div>
    </div>
</div>
</div>
