<aside class="flex min-h-screen">

    <div class="sidebar w-64 bg-gray-800 shadow flex-col justify-between hidden sm:flex min-h-screen overflow-y-auto">
        <div class="px-8">
            <ul class="mt-12">
                <li class="flex w-full justify-between text-gray-300 cursor-pointer items-center mb-6">
                    <a routerLink="/dashboard/productos" class="flex items-center">
                        <span class="text-sm ml-2">Productos</span>
                    </a>
                </li>
                <li class="flex w-full justify-between text-gray-300 cursor-pointer items-center mb-6">
                    <a routerLink="/dashboard/categorias" class="flex items-center">
                        <span class="text-sm ml-2">Categorías</span>
                    </a>
                </li>
                <li class="flex w-full justify-between text-gray-300 cursor-pointer items-center mb-6">
                    <a routerLink="/dashboard/vendors" class="flex items-center">
                        <span class="text-sm ml-2">Vendedores</span>
                    </a>
                </li>
                <li class="flex w-full justify-between text-gray-300 cursor-pointer items-center mb-6">
                    <a href="javascript:void(0)" class="flex items-center">
                        <span class="text-sm ml-2">Ordenes</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="flex-1 bg-gray-100 p-8 min-h-screen overflow-y-auto">
       <router-outlet></router-outlet>
    </div>

</aside>
