<aside class="flex min-h-screen bg-gray-900">
  <div class="sidebar w-64 bg-gray-800 shadow-lg rounded-r-2xl flex-col justify-between hidden sm:flex min-h-screen overflow-y-auto transition-all duration-300 ease-in-out">
    <div class="px-6 py-8">
      <ul class="space-y-6">
        <li class="flex items-center justify-between text-gray-300 cursor-pointer hover:text-white transition-colors duration-200 rounded-md p-2 hover:bg-gray-700">
          <a routerLink="/dashboard/products" class="flex items-center">
            <span class="text-sm ml-2">Products</span>
          </a>
        </li>
        <li class="flex items-center justify-between text-gray-300 cursor-pointer hover:text-white transition-colors duration-200 rounded-md p-2 hover:bg-gray-700">
          <a routerLink="/dashboard/categories" class="flex items-center">
            <span class="text-sm ml-2">Categories</span>
          </a>
        </li>
        <li class="flex items-center justify-between text-gray-300 cursor-pointer hover:text-white transition-colors duration-200 rounded-md p-2 hover:bg-gray-700">
          <a routerLink="/dashboard/vendors" class="flex items-center">
            <span class="text-sm ml-2">Vendors</span>
          </a>
        </li>
        <li class="flex items-center justify-between text-gray-300 cursor-pointer hover:text-white transition-colors duration-200 rounded-md p-2 hover:bg-gray-700">
          <a routerLink="/dashboard/orders" class="flex items-center">
            <span class="text-sm ml-2">Orders</span>
          </a>
        </li>
        <li class="flex items-center justify-between text-gray-300 cursor-pointer hover:text-white transition-colors duration-200 rounded-md p-2 hover:bg-gray-700">
          <a routerLink="/dashboard/users" class="flex items-center">
            <span class="text-sm ml-2">Users</span>
          </a>
        </li>
        <li class="flex items-center justify-between text-gray-300 cursor-pointer hover:text-white transition-colors duration-200 rounded-md p-2 hover:bg-gray-700">
          <a routerLink="/dashboard/settings" class="flex items-center">
            <span class="text-sm ml-2">Settings</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="flex-1 bg-gray-100 p-8 min-h-screen overflow-y-auto">
     <router-outlet></router-outlet>
  </div>

</aside>
