<div class="bg-white py-24 sm:py-32 border">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl">Productos</h2>
      <p class="mt-2 text-lg/8 text-gray-600">Productos que vienen del Marketplace.</p>
    </div>
    <div class="mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">

      <span class="loader" *ngIf="loading; else content;"></span>

      <ng-template #content>
        <article *ngFor="let product of products; index as i" class="flex max-w-xl flex-col items-start justify-between border p-10 overflow-auto">
          <div class="flex items-center gap-x-4 text-xs" *ngIf="product.sku.length > 0">
            <time datetime="2020-03-16" class="text-gray-500">id: {{product.id}}</time>
            <a class="relative z-10 rounded-full bg-gray-600 px-3 py-1.5 font-medium text-white ">Sku : {{product.sku}}</a>
          </div>
          <div class="group relative">
            <h3 class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600">
              <a>
                <span class="absolute inset-0"></span>
                {{product.name}}
              </a>
            </h3>
            <div class="mt-5 line-clamp-3 text-sm/6 text-gray-600" [innerHTML]="product.description"></div>
          </div>
          <div class="relative mt-8 flex items-start gap-x-4">
            <div class="text-sm/6">
              <p class="text-gray-600" *ngFor="let catergory of product.categories; index as i">
                <strong>{{catergory.id}}</strong>: {{catergory.name}}
              </p>
            </div>
          </div>

          <a [routerLink]="['/dashboard/productos', product.id, product.sku]" class="go svg">
            <svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M10 7L15 12L10 17" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
          </a>

          <a [routerLink]="['/dashboard/edit-product', product.id]" class="edit svg">
            <svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill-rule="evenodd" clip-rule="evenodd" d="m3.99 16.854-1.314 3.504a.75.75 0 0 0 .966.965l3.503-1.314a3 3 0 0 0 1.068-.687L18.36 9.175s-.354-1.061-1.414-2.122c-1.06-1.06-2.122-1.414-2.122-1.414L4.677 15.786a3 3 0 0 0-.687 1.068zm12.249-12.63 1.383-1.383c.248-.248.579-.406.925-.348.487.08 1.232.322 1.934 1.025.703.703.945 1.447 1.025 1.934.058.346-.1.677-.348.925L19.774 7.76s-.353-1.06-1.414-2.12c-1.06-1.062-2.121-1.415-2.121-1.415z" fill="#000000"></path></g></svg>
          </a>

          <div class="flex">

            <a (click)="register(product)" class="button mt-3 relative px-5 py-3 overflow-hidden text-center  flex items-center justify-center font-medium text-gray-600 bg-gray-100 border border-gray-100 rounded-lg shadow-inner group">
              <span class="absolute top-0 left-0 w-0 h-0 transition-all duration-200 border-t-2 border-gray-600 group-hover:w-full ease"></span>
              <span class="absolute bottom-0 right-0 w-0 h-0 transition-all duration-200 border-b-2 border-gray-600 group-hover:w-full ease"></span>
              <span class="absolute top-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease"></span>
              <span class="absolute bottom-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease"></span>
              <span class="absolute inset-0 w-full h-full duration-300 delay-300 bg-gray-900 opacity-0 group-hover:opacity-100"></span>
              <span class="relative transition-colors duration-300 delay-200 group-hover:text-white ease">Registrar en auroral</span>
            </a>

            <a (click)="updateProduct(product)" class="button mt-3 ml-3 relative px-5 py-3 overflow-hidden text-center flex items-center justify-center font-medium text-gray-600 bg-gray-100 border border-gray-100 rounded-lg shadow-inner group">
              <span class="absolute top-0 left-0 w-0 h-0 transition-all duration-200 border-t-2 border-gray-600 group-hover:w-full ease"></span>
              <span class="absolute bottom-0 right-0 w-0 h-0 transition-all duration-200 border-b-2 border-gray-600 group-hover:w-full ease"></span>
              <span class="absolute top-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease"></span>
              <span class="absolute bottom-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease"></span>
              <span class="absolute inset-0 w-full h-full duration-300 delay-300 bg-gray-900 opacity-0 group-hover:opacity-100"></span>
              <span class="relative transition-colors duration-300 delay-200 group-hover:text-white ease">Actualizar</span>
            </a>

          </div>

        </article>
      </ng-template>

    </div>
  </div>
</div>
